.content h1 {
	text-align: center;
}

.content {
	background-color: green;
	font-family: Bradley Hand, cursive;
	padding-right: 50px;
	padding-left: 50px;

}

.content p {
	margin: 0px, 20px, 0px, 20px;
}

.header {
	font-family: Bradley Hand, cursive;
}

.footer {
	text-align: center;
	background-color: blue;
}

.footer a {
	margin-right: 60px;
	font-size: 40px;
	color: black;
}

.footer p {
	font-family: Bradley Hand, cursive;
	font-size: 20px;
}

.logo {
	display: inline-block;
}

.menu {
	display: inline-block;

}

.menu ul li {
	display: inline-block;
	padding-right: 100px;
	text-align: center;
	margin: auto;
}

.menu ul {
	size: 300px 200px;
	margin-left: 250px;
	padding-top: 10px;
}
